.logo-img {
    max-width: 100%;
}
a {
  text-decoration: none;
  color: #000000;
}
.logo {
    text-align: center;
    width: 30%;
    border-radius: 4px;
    position: relative;
    background: #fff;
}

.logo::before {
    content: "";
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -1px;
    right: -1px;
    background: linear-gradient(180deg, #0015C9 0%, #FFE500 100%);
    border-radius: 5px;
    z-index: -1;
  }
  .headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
   
}

.translate {
    border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

@media (min-width:320px) {
    .translate-img {
        width: 20px;
        height: 20px;
    }
}


@media (min-width: 440px) {
    .headerInner {
    margin-top: 10px;
}
}


.menuBtn {
width: 50px;
height: 20px;
background-color: #fff;
border-radius: 0px;
border: none;
display: flex;
border-bottom: 1px solid black;
justify-content: center;
}


.menuBtnIcon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.lngName {
    // font-family: ;
font-size: 16px;
line-height: 13px;
color: #000000;
}

@media (min-width: 744px) {
    .headerInner {
        margin-top: 20px; 
        min-height: 100px;
    }
.menuBtn {
    width: 80px;
    height: 32px;
}
.menuBtnIcon {
    width: 25px;
    height: 25px;
}
.lngName {
    font-size: 24px;
line-height: 21px;
}
}

@media (min-width: 1444px) {
    .headerInner {
        min-height: 160px;
    }
    .menuBtnIcon {
        width: 35px;
        height: 35px;
    }
    .menuBtn {
        width: 100px;
        height: 40px;
    }
    .lngName {
        font-size: 38px;
    line-height: 30px;
    }
}